<launch>
    <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
    <include file = "$(find rod_gruppe9)/launch/spawn_robots.launch" />

    <!-- Launch Moveit Move Group Node -->
    <include file = "$(find rod_gruppe9)/launch/move_group.launch" />

    <!-- Run Rviz and load the default configuration to see the state of the move_group node -->
    <arg name="use_rviz" default="true" />
    <include file="$(find rod_gruppe9)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find rod_gruppe9)/launch/moveit.rviz"/>
    </include>

    <!-- hmi -->
    <node pkg="hmi" type="hmi" name="hmi_node" output="screen">
    <rosparam command="load" file="$(find rod_gruppe9)/config/kinematics.yaml" />
    </node>

</launch>